<div class="page-header">
  <h1>Templiq - Liquid模板引擎</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">示例模板</h2>
  </div>
  <div class="panel-body">
    {% if examples and examples.size > 0 %}
      <ol>
        {% for example in examples %}
          <li><a href="/preview/{{ example.name }}" target="_blank">{{ example.name }}</a></li>
        {% endfor %}
      </ol>
    {% else %}
      <div class="alert alert-info">
        <p>目前没有可用的示例</p>
      </div>
    {% endif %}
  </div>
</div> 